services:
  ollama:
    image: ollama/ollama:latest
    volumes:
      - ollama:/root/.ollama
    healthcheck:
      test: ['CMD', 'ollama', 'list']
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s

  app:
    build: .
    depends_on:
      ollama:
        condition: service_healthy
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - STREAMLIT_PORT=8501
    volumes:
      - chroma_db:/app/chroma_db
    ports:
      - '8501:8501'

volumes:
  chroma_db:
  ollama:
